<div class='ds-title-section'>
	<div class="ds-section-header"> Tasks </div>
	<div class="ds-subsection"> List of all tasks </div>
	<div class="ds-add">
	</div>
</div>

This shows all the tasks that the user is responsible for. Create a table with tasks, group, project and organization and make them sortable.

