<br/><br/><br/><br/>
<h2>Task Detail</h2>
<br/>
<b>Task name:</b><br/>
<%= @task.name %>

<br/><br/>

<b>Organization: </b><br/>
<%= Organization.find(@task.organization_id).name %><br/><br/>

<b>Group In Charge: </b><br/>


<% if @task.group_id.nil? %>
	No group is in charge of this task
	<% else %>
	<% group = Group.find(@task.group_id) %>
	<%= group.name %>
<% end%>

<br/><br/>

<b>Description:</b><br/>
<%= @task.description %>
