<div class="content-title"> 
  New task for <span id="proj-name-here"> </span> </span><span class="close"> Close </span>
</div>
<div id="loading-spinner">
  <br />
  <b> Loading... </b>
  <br />
  <%= image_tag "loader-spinner.gif" %>
</div>
