<% content_for :script do %>
  $(document).ready(function () {
    $('.open-content-box').click(function () {
      $("#content-box").html("<%= escape_javascript(render :partial => 'landing/add_task_to_proj_header') %>");
      $(".open-content-box").hide();
      $("#loading-spinner").show();
      $("#content-box").show();
      $('.close').click(function () {
        $(".open-content-box").show();
        $('#content-box').hide(600);
        $("#content-box").html("<%= escape_javascript(render :partial => 'landing/add_task_to_proj_header') %>");
      });
    });
  });
<% end %>

<div id="projs-involved-in" class="span-6 last">
  <% unless @current_user.organizations.projects.empty? %>
      <span id="projs-involved-in-header" class="span-6 last"> Projects </span>
      <ul class="span-6 last" id="my-projs-list">
        <% @current_user.organizations.projects.each do |p| %>
          <div class="span-6 last"> 
            <span class="proj-name-index span-4"> <%= link_to p.name, project_path(p) %> </span>
            <% if p.organization.creator == @current_user %>
              <span class="add-task-to-proj-index span-2 last"> <%= link_to "add task", new_task_ajax_path(:project_id => p.id), :remote => true, :class => 'open-content-box' %> </span>
            <% end %>
          </div>
        <% end %>
      </ul>
  <% end %>
</div>
