<%= render(:partial => 'landing/incomplete_user') unless @current_user %>

<div class="span-24">
</div>
<div id="dialog-form"> </div>
<% if @current_user %>
  <% if @current_user.sms_enabled %>
    You have enabled SMS. Text 510-550-5258 'help' to get started.
  <% else %>
    <%= link_to("enable SMS", "#{edit_user_path(@current_user)}#sms_preferences") %>
  <% end %>
<% end %>
