<% unless @current_user %>
  <%= render(:partial => 'new_unknown_user') if @unknown_user %>
  <%= render(:partial => 'users/check_email') if @check_email%>
  <%= render(:partial => 'activations/confirming_new_user') if @confirming_new_user %>
  <%= render(:partial => 'activations/thanks_reging') if @thank_user %>
<% end %>

<div id="dialog-form"> </div>
<%#= "Logged in as #{@current_user.first_name}" if @current_user %>
