<% if @current_user %>
  <% if @tasks.any? %>
    <% content_for :script do %>
      $(function () {  
         setTimeout(updateComments, 1000);  
      }); 
      function updateComments() {  
      //need to have a hidden field on this page that we update the last update
        var ct_params = "?";
        $("#task-feed").children(".indiv-task").each(function() {
          //this task
          var this_task = $(this);
          this_task.children(".comments-on-task-wrapper").each(function() {
            var this_comments_wrapper = $(this);
            var task_id = this_comments_wrapper.attr('data-taskid');
            //now get the created at of the first child
            var most_recent_comment = this_comments_wrapper.children(":first");
            var after = most_recent_comment.attr('data-time');
            ct_params += "&" + task_id + "=" + after;
            });
        });
        $.getScript("/get_new_comments.js" + ct_params);  
        setTimeout(updateComments, 10000);  
      }  
    <% end %>
  <% end %>
<% end %>
<%= render(:partial => 'landing/incomplete_user') unless @current_user %>

<div class="span-24">
</div>
<div id="dialog-form"> </div>
<div id="content-box"> </div>
<% if @current_user %>
  <div class="content-title clear"> Latest activity </div>
    <% if @current_user.sms_enabled %>
      <p class="span-24 last soft-message last"> You have enabled SMS. Text 'help' to 510-550-5258 to get started.</p>
    <% else %>
      <%= link_to("enable SMS", "#{edit_user_path(@current_user)}#sms_preferences") %>
    <% end %>
    <%= render :partial => 'shared/tasks_feed' %>
    <%= render :partial => 'landing/projects_involved_in' %>
<% else %>
  <p class="span-24 last">Super simple project management for non-technical, informal organizations.</p>
<% end %>

<br />
