#html{
	margin:0px;
	padding:0px;
	background:#FFF;
}

#logo{
	height:85px;
	background:#699;
}

#container{
	padding:0px;
	margin:0px;
}

.ds-title-section{
	margin-bottom:20px;	
}

#dennis-content{
	background:#FFF;
	height:400px;
	padding-left:25px;
	padding-top:15px;
	padding-bottom:50px;
}

.ds-section-header{
	font-size:35px;
}

.ds-add{
	vertical-align:middle;
	margin-top:10px;
	vertical-align:middle;	
	
}
.icon{
	float:left;	
}

.add-link a{
	text-decoration:none;	
}

.add-link{
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
	margin-left:22px;
	
}

.ds-subsection{
	font-size:15px;
	color:#888;	
}

.ds-subtitle{
	font-weight:600;
	font-size:15px;
}

#navigation{
	padding:0px;
	margin:0px;
	background:#069;
}

#navigation-list{
	padding:0px;
	margin:0px;
	padding-left:20px;
		
}

#navigation-list li{
	padding:0px;
	margin:0px;
	font-weight:bold;
	font-size: 15px;
	display:inline;
	style:none;
	padding-left:7px;
	padding-right:7px;
	border-right:dotted 1px black;
}

#navigation-list a{
	padding:0px;
	padding-top:2px;
	padding-bottom:0px;
	margin:0px;
	color:#FFF;
	text-decoration:none;
}

#navigation-list a:hover{
	padding:0px;
	margin:0px;
	color:#FF9;
}