/* line 10, ../../app/stylesheets/style.sass */
html, body {
  color: #222222;
  background-color: #e8eaef;
  font: 14px Arial;
  margin: 0;
  padding: 0;
  height: 100% !important;
  -webkit-font-smoothing: antialiased;
}

/* line 19, ../../app/stylesheets/style.sass */
#bottom-bar {
  margin-top: 3em;
  padding-top: 0.5em;
  font-weight: bold;
  width: 100%;
  height: 4em;
}
/* line 26, ../../app/stylesheets/style.sass */
#bottom-bar li {
  float: left;
  list-style: none;
  color: #e8e8e8;
}

/* line 31, ../../app/stylesheets/style.sass */
#content {
  min-height: 100% !important;
  height: auto !important;
  height: 100%;
  margin: 4em auto -4em;
  background-color: white;
  -webkit-box-shadow: #cccccc 4px 0px 10px, #cccccc -4px 0px 10px, #aaaaaa 0px 38px 36px -24px;
  -moz-box-shadow: #cccccc 4px 0px 10px, #cccccc -4px 0px 10px, #aaaaaa 0px 38px 36px -24px;
  box-shadow: #cccccc 4px 0px 10px, #cccccc -4px 0px 10px, #aaaaaa 0px 38px 36px -24px;
}

/* line 46, ../../app/stylesheets/style.sass */
.move-header-down {
  margin-top: 5em;
}

/* line 50, ../../app/stylesheets/style.sass */
.logged-in-as {
  float: right;
}

/* line 53, ../../app/stylesheets/style.sass */
.secondary_nav {
  list-style: none;
  margin-right: 1em;
  display: inline;
}
/* line 57, ../../app/stylesheets/style.sass */
.secondary_nav a {
  text-decoration: none;
}

/* line 60, ../../app/stylesheets/style.sass */
.bord-me {
  border-top: 1px solid black;
}

/* line 63, ../../app/stylesheets/style.sass */
.section-header {
  font-size: 2em;
}

/* line 66, ../../app/stylesheets/style.sass */
.field-lable {
  padding-top: 0.5em;
}

/* line 69, ../../app/stylesheets/style.sass */
.group-index-partial {
  border: 1px solid black;
  margin-top: 1em;
}

/* line 73, ../../app/stylesheets/style.sass */
.list-group-members {
  border: 1px solid black;
}

/* line 76, ../../app/stylesheets/style.sass */
.complete_task {
  float: left;
  color: green;
}

/* line 80, ../../app/stylesheets/style.sass */
.incomplete_task {
  float: left;
  color: red;
}

/* line 84, ../../app/stylesheets/style.sass */
.task_nav {
  float: right;
}

/* line 87, ../../app/stylesheets/style.sass */
.task-points {
  width: 60px;
  height: 50px;
  color: #a6874d;
}
/* line 91, ../../app/stylesheets/style.sass */
.task-points .says-points {
  text-align: center;
  font-size: 1.1em;
  margin-top: -1.2em;
  background-color: #fffbec;
}
/* line 96, ../../app/stylesheets/style.sass */
.task-points .num-points {
  margin-top: 1em;
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
  background-color: #fffbec;
}

/* line 103, ../../app/stylesheets/style.sass */
.task-points-selecting {
  width: 180px;
  height: 150px;
  color: #a6874d;
}
/* line 107, ../../app/stylesheets/style.sass */
.task-points-selecting .says-points-selecting {
  text-align: center;
  font-size: 1.2em;
  margin-top: -1.2em;
  background-color: #fffbec;
}
/* line 112, ../../app/stylesheets/style.sass */
.task-points-selecting .num-points-selecting {
  margin-top: 1em;
  font-size: 2.8em;
  font-weight: bold;
  text-align: center;
  background-color: #fffbec;
}

/* line 119, ../../app/stylesheets/style.sass */
.task-name-index {
  margin-top: -0.2em;
  font-size: 1.6em;
}
/* line 122, ../../app/stylesheets/style.sass */
.task-name-index a {
  text-decoration: none;
  color: #2d2d2d !important;
}
/* line 125, ../../app/stylesheets/style.sass */
.task-name-index a:hover {
  color: black !important;
}

/* line 128, ../../app/stylesheets/style.sass */
.content-title {
  font-size: 2em;
  color: #2d2d2d;
  background-color: #edf3fe;
  margin-top: 0.5em;
  padding-left: 0.5em;
}

/* line 135, ../../app/stylesheets/style.sass */
.soft-message {
  padding-left: 2em;
  margin-top: 1em;
  color: #eeeeee;
}

/* line 140, ../../app/stylesheets/style.sass */
.task-name-group-members-wrapper {
  margin-top: -0.9em;
}

/* line 143, ../../app/stylesheets/style.sass */
.task-group-index {
  margin-top: 0.5em;
}

/* line 147, ../../app/stylesheets/style.sass */
.main_nav {
  margin-top: 1em;
  list-style: none;
  display: inline;
  margin-right: 1em;
  margin-bottom: 3em;
}
/* line 153, ../../app/stylesheets/style.sass */
.main_nav a {
  padding: 0.2em 0.2em;
  font-weight: 1.3;
  text-decoration: none;
}

/* line 158, ../../app/stylesheets/style.sass */
.main_nav {
  float: left;
  background-color: #4d6ca5;
  margin-left: 0.5em;
  font-size: 14pt;
  font-weight: 500;
}
/* line 161, ../../app/stylesheets/style.sass */
.main_nav:hover {
  background-color: #4ca59c;
}
/* line 166, ../../app/stylesheets/style.sass */
.main_nav .selected {
  background-color: #4ca59c;
}
/* line 168, ../../app/stylesheets/style.sass */
.main_nav a {
  display: block;
  text-decoration: none;
  padding-left: 0.75em;
  padding-right: 0.75em;
  color: #f5f8ff !important;
}
/* line 173, ../../app/stylesheets/style.sass */
.main_nav a .selected {
  color: #4d6ca5 !important;
}

/* line 177, ../../app/stylesheets/style.sass */
.user-name-index {
  font-weight: bold;
  color: #5e4da5;
}

/* line 181, ../../app/stylesheets/style.sass */
.user-rep-index {
  font-size: 1.2em;
  font-weight: bold;
  color: #a6874d;
  margin-left: -0.1em;
}

/* line 187, ../../app/stylesheets/style.sass */
.comment-body {
  padding-top: 0.05em;
  margin-left: -1em;
  color: #2d2d2d;
  font-size: 1.3em;
}

/* line 193, ../../app/stylesheets/style.sass */
.indiv-comment-wrapper {
  padding-top: 0.5em;
}

/* line 196, ../../app/stylesheets/style.sass */
.new-comment {
  color: #edf3fe;
}

/* line 200, ../../app/stylesheets/style.sass */
#meta-nav-top li {
  float: right;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 204, ../../app/stylesheets/style.sass */
#meta-nav-top li a {
  text-decoration: none;
  color: #2d2d2d;
}
/* line 207, ../../app/stylesheets/style.sass */
#meta-nav-top li a:hover {
  color: black;
}

/* line 210, ../../app/stylesheets/style.sass */
#meta-nav-list {
  list-style: none;
  padding-right: 2em;
  margin-bottom: 0;
}

/* line 215, ../../app/stylesheets/style.sass */
.normal_link {
  text-decoration: none;
  color: #2d2d2d;
}
/* line 218, ../../app/stylesheets/style.sass */
.normal_link:hover {
  color: black;
}

/* line 221, ../../app/stylesheets/style.sass */
#logout {
  padding-top: 0.2em;
}

/* line 224, ../../app/stylesheets/style.sass */
#logo {
  padding-left: 1em;
  margin-right: -1em;
}

/* line 229, ../../app/stylesheets/style.sass */
#tasks-nav span {
  background-color: #edf3fe;
  color: #4ca59c;
  margin-left: 0.4em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 239, ../../app/stylesheets/style.sass */
#task-feed {
  padding-right: -3em;
}

/* line 242, ../../app/stylesheets/style.sass */
#projs-involved-in-header {
  padding-left: 0.25em;
  margin-left: -0.25em;
  color: #2d2d2d;
  background-color: #edf3fe;
  font-size: 1.5em;
}

/* line 249, ../../app/stylesheets/style.sass */
#my-projs-list {
  margin-top: 0.4em;
  list-style: none;
}
/* line 252, ../../app/stylesheets/style.sass */
#my-projs-list span {
  padding-left: none;
}
/* line 254, ../../app/stylesheets/style.sass */
#my-projs-list span a {
  text-decoration: none;
}

/* line 257, ../../app/stylesheets/style.sass */
.proj-name-index {
  margin-left: -2.5em;
  font-weight: bold;
}
/* line 260, ../../app/stylesheets/style.sass */
.proj-name-index a {
  color: #2d2d2d;
}
/* line 262, ../../app/stylesheets/style.sass */
.proj-name-index a:hover {
  color: black;
}

/* line 266, ../../app/stylesheets/style.sass */
.add-task-to-proj-index a {
  color: #4d6ca5;
  padding: 0.1em;
  font-weight: bold;
}
/* line 269, ../../app/stylesheets/style.sass */
.add-task-to-proj-index a:hover {
  color: #4ca59c;
  background-color: #edf3fe;
}

/* line 274, ../../app/stylesheets/style.sass */
#content-box {
  display: none;
  min-height: 500;
  background: white;
  position: relative;
}

/* line 280, ../../app/stylesheets/style.sass */
.close {
  font-size: 0.5em;
  font-weight: bold;
  color: #4d6ca5;
  float: right;
  padding-right: 0.3em;
  padding-top: 0.5em;
  cursor: pointer;
}
/* line 288, ../../app/stylesheets/style.sass */
.close:hover {
  color: #4ca59c;
}

/* line 291, ../../app/stylesheets/style.sass */
#loading-spinner {
  display: none;
  color: #2d2d2d;
  text-align: center;
}

/* line 296, ../../app/stylesheets/style.sass */
.task-input {
  width: 99%;
  font-size: 1.5em;
  padding: 5px;
}

/* line 301, ../../app/stylesheets/style.sass */
.task-input-area {
  width: 99%;
  padding: 5px;
}

/* line 305, ../../app/stylesheets/style.sass */
#proj-name-here {
  color: #4d6ca5;
}

/* line 308, ../../app/stylesheets/style.sass */
.move-label-left {
  margin-left: -1em;
}

/* line 311, ../../app/stylesheets/style.sass */
label {
  color: #2d2d2d;
}

/* line 314, ../../app/stylesheets/style.sass */
.float-me-right {
  float: right;
  padding-right: 10em;
}

/* line 318, ../../app/stylesheets/style.sass */
.float-me-left {
  float: left;
}
