<div class="span-12 group-index-partial">
  <span class="span-8 colborder"> The rotten cukumbers </span>
  <span class="span-3 last"> <%= link_to 'edit_group', groups_path %> </span>
  <hr />
  <span class="span-11"> Some names of group members </span>
  <hr />
  Tasks
  <br />
  Task 1
  <br />
  Tasks 2
  <br />
  <%= link_to "+ Add a task", new_task_path %>

</div>
