<span class="section-header span-18"> Groups </span>
<span class="span-6 last"> <%= link_to "+ create new group", new_group_path %> </span>

<%= render :partial => 'group_partial', :collection => @groups %>
