<div class='ds-title-section'>
	<div class="ds-section-header"> Groups </div>
	<div class="ds-subsection"> List of all groups you are in </div>
	<div class="ds-add">
	</div>
</div>

This shows all the groups that a user is a part of. Within an organization, a user can be in zero, one or more groups so the groups that the user is in should be divided per organization. Create a table for each organization that the user is in and within each table shows the group that the user is in within that organization.

