<div class='ds-title-section'>
	<div class="ds-section-header"> Create a New Group (<%= @org.name %>) </div>
	<div class="ds-subsection-quote">"Individual commitment to a group effort - that is what makes a team work, a company work, a society work, a civilization work. " - Vince Lombardi</div>
</div>
