<div id="milestones" class= "span-24">

Group name: 
<%= @group.name %>
<br />

Organization: 
<% if @group.organization %>
  <%= @group.organization.name %>
<% else %>
  <%= 'No organization currently assigned.' %>
<% end %>

<br />

Members: 
<% usrs = @group.users %>
<% usrs.each do |usr| %>
	<%= usr.first_name + " " + usr.last_name + " (" + usr.email + "), " %>
<% end %>

</div>