$dkblue: #4D6CA5
$lblue: #EDF3FE
$usernames: #5E4DA5
$points: #A6874D
$ondkb: #F5F8FF
$peach: #FFFBEC
$turk: #4ca59c


html, body
  color: #222
  background-color: #e8eaef
  font: 14px Arial
  margin: 0
  padding: 0
  height: 100% !important
  -webkit-font-smoothing: antialiased

#bottom-bar
  margin-top: 3em
  padding-top: .5em
  font-weight: bold
  width: 100%
  height: 4em
  //background-color: #262626
  li
    float: left
    list-style: none
    color: #e8e8e8

#content
  min-height: 100% !important
  height: auto !important
  height: 100%
  margin: 4em auto -4em
  //margin: 4em auto -4em
  background-color: white
  //width: 73.074em
  //max-width: 750px
  //margin: 0 auto
  //padding: 0 40px
  -webkit-box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px
  -moz-box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px
  box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px

.move-header-down
  margin-top: 5em 


.logged-in-as
  float: right
  
.secondary_nav
  list-style: none
  margin-right: 1em
  display: inline
  a
    text-decoration: none

.bord-me
  border-top: 1px solid black

.section-header
  font-size: 2em

.field-lable
  padding-top: .5em

.group-index-partial
  border: 1px solid black
  margin-top: 1em

.list-group-members
  border: 1px solid black

.complete_task
  float: left
  color: green
	
.incomplete_task
  float: left
  color: red

.task_nav
  float: right

.task-points
  width: 60px
  height: 50px
  color: $points
  .says-points
    text-align: center
    font-size: 1.1em
    margin-top: -1.2em
    background-color: $peach
  .num-points
    margin-top: 1em
    font-size: 2.3em
    font-weight: bold
    text-align: center
    background-color: $peach

.task-points-selecting
  width: 180px
  height: 150px
  color: $points
  .says-points-selecting
    text-align: center
    font-size: 1.2em
    margin-top: -1.2em
    background-color: $peach
  .num-points-selecting
    margin-top: 1em
    font-size: 2.8em
    font-weight: bold
    text-align: center
    background-color: $peach

.task-name-index
  margin-top: -.2em
  font-size: 1.6em
  a
    text-decoration: none
    color: #2d2d2d !important
    &:hover
      color: black !important

.content-title
  font-size: 2em
  color: #2d2d2d
  background-color: #edf3fe
  margin-top: .5em
  padding-left: .5em

.soft-message
  padding-left: 2em
  margin-top: 1em
  color: #eee

.task-name-group-members-wrapper
  margin-top: -.9em

.task-group-index
  margin-top: .5em


.main_nav
  margin-top: 1em
  list-style: none
  display: inline
  margin-right: 1em
  margin-bottom: 3em
  a
    padding: .2em .2em
    font-weight: 1.3
    text-decoration: none

.main_nav
  float: left
  background-color: $dkblue
  &:hover
    background-color: $turk
  margin-left: .5em
  font-size: 14pt
  font-weight: 500
  .selected
    background-color: $turk
  a
    display: block
    text-decoration: none
    padding-left: .75em
    padding-right: .75em
    .selected
      color: $dkblue !important
    color: $ondkb !important

.user-name-index
  font-weight: bold
  color: $usernames

.user-rep-index
  font-size: 1.2em
  font-weight: bold
  color: $points
  margin-left: -.1em

.comment-body
  padding-top: .05em
  margin-left: -1em
  color: #2d2d2d
  font-size: 1.3em

.indiv-comment-wrapper
  padding-top: .5em

.new-comment
  color: $lblue

#meta-nav-top
  li
    float: right
    padding-left: .5em
    padding-right: .5em
    a
      text-decoration: none
      color: #2d2d2d
      &:hover
        color: black

#meta-nav-list
  list-style: none
  padding-right: 2em
  margin-bottom: 0

.normal_link
  text-decoration: none
  color: #2d2d2d
  &:hover
    color: black

#logout
  padding-top: .2em

#logo
  padding-left: 1em
  margin-right: -1em

#tasks-nav
  span
    background-color: $lblue
    color: $turk
    margin-left: .4em
    padding-left: .2em
    padding-right: .2em
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px

#task-feed
  padding-right: -3em

#projs-involved-in-header
  padding-left: .25em
  margin-left: -.25em
  color: #2d2d2d
  background-color: #edf3fe
  font-size: 1.5em

#my-projs-list
  margin-top: .4em
  list-style: none
  span
    padding-left: none
    a
      text-decoration: none

.proj-name-index
  margin-left: -2.5em
  font-weight: bold
  a
    color: #2d2d2d
    &:hover
      color: black

.add-task-to-proj-index
  a
    color: $dkblue
    padding: .1em
    &:hover 
      color: $turk
      background-color: $lblue
    font-weight: bold

#content-box
  display: none
  min-height: 500
  background: #fff
  position: relative

.close
  font-size: .5em
  font-weight: bold
  color: $dkblue
  float: right
  padding-right: .3em
  padding-top: .5em
  cursor: pointer
  &:hover
    color: $turk

#loading-spinner
  display: none
  color: #2d2d2d
  text-align: center

.task-input
  width: 99%
  font-size: 1.5em
  padding: 5px

.task-input-area
  width: 99%
  padding: 5px

#proj-name-here
  color: $dkblue

.move-label-left
  margin-left: -1em

label
  color: #2d2d2d

.float-me-right
  float: right
  padding-right: 10em

.float-me-left
  float: left

.blur
  color: #999 !important

