html, body
  color: #222
  background-color: #ddd
  font: 14px Arial
  margin: 0
  padding: 0
  height: 100% !important
  -webkit-font-smoothing: antialiased

#bottom-bar
  margin-top: 3em
  padding-top: .5em
  font-weight: bold
  width: 100%
  height: 4em
  //background-color: #262626
  li
    float: left
    list-style: none
    color: #e8e8e8

#content
  min-height: 100% !important
  height: auto !important
  height: 100%
  margin: 4em auto -4em
  background-color: white
  //width: 73.074em
  //max-width: 750px
  //margin: 0 auto
  //padding: 0 40px
  -webkit-box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px
  -moz-box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px
  box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px

.move-header-down
  margin-top: 5em 

.main_nav
  list-style: none
  display: inline
  margin-right: 1em
  margin-bottom: 3em
  a
    text-decoration: none

.logged-in-as
  float: right
  
.secondary_nav
  list-style: none
  margin-right: 1em
  display: inline
  a
    text-decoration: none

.bord-me
  border-top: 1px solid black

.section-header
  font-size: 2em

.field-lable
  padding-top: .5em

.group-index-partial
  border: 1px solid black
  margin-top: 1em

.list-group-members
  border: 1px solid black

.complete_task
  float: left
  color: green
	
.incomplete_task
  float: left
  color: red

.task_nav
  float: right
