<div class='ds-title-section'>
	<div class="ds-section-header"> Invitations</div>
	<div class="ds-subsection"> List of all pending invitations </div>
</div>

This page will contain 2 tables. One will contain all the invitations received and the other will contain all invitations sent.