<div class='ds-title-section'>
	<div class="ds-section-header"> Invitations</div>
	<div class="ds-subsection"> List of all pending invitations </div>
</div>

<div id='invitations-received'>
	<table id='invitations-table' class='sortable'>
		<thead>
			<tr>
				<th>Organization</th>
				<th>Owner</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<% @received.each do |invitation| %>
				<% organization = Organization.find(invitation.organization_id) %>
				<% owner = User.find(organization.creator_id) %>
				<tr>
					<td><%= organization.name.capitalize%></td>
					<td><%= "#{owner.first_name.capitalize} #{owner.last_name.capitalize} " %></td>
					<td>Decline/Accept</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>