<div class='ds-title-section'>
	<div class="ds-section-header"> Organizations </div>
	<div class="ds-subsection"> List of organizations that you are involved in</div>
	<div class="ds-add"> <%= link_to "+ create new organization", new_organization_path %> </div>
</div>

ORGANIZATION CONTENT HERE


