<span class="section-header span-18"> Organizations </span>
<br/>
<span class="span-6 last"> <%= link_to "+ create new organization", new_organization_path %> </span>
<br />

<br />
<br/><br/><br/><br/>

<h3>Created:</h3>
<% @my_orgs.each do |my_org| %>
	<%= my_org.name %>
	<br/>
<% end %>

<br />

<h3>Joined:</h3>
<% @joined_orgs.each do |joined_org| %>
	<%= joined_org.name %>
	<br/>
<% end %>


