<%= form_for @user_session, :url => signin_user_path do |form| %>
  <label class="span-3 push-down" for="email">Email</label>
  <%= form.text_field :email, :size => 30, :class => "span-4 text ui-widget-content ui-corner-all" %>
  <label class="clear span-3 push-down" for="email">Password</label>
  <%= form.password_field :password, :size => 30, :class => "span-4 text ui-widget-content ui-corner-all" %>
  <br />
  <%= form.submit "Sign in", :id => 'signin_button', :class => "prepend-top span-4 clear" %>
<% end %>

