<div id='dennis-header'>
		<div id='logo'> 
			Rotten Cucumber 
		</div>
		<div id='navigation'>
			<ul id ='navigation-list'>
		<% if !@current_user %>
		   	<li><%= link_to "Login", new_user_session_path, :remote => true %> </li>
		   	<li><%= link_to "Sign up", new_user_path, :remote => true %> </li>
		 	<% else %>
				<li><a href='/organizations'>Organizations </a></li>
				<li><a href='/projects'>My Projects</a></li>
				<li><a href='/groups'>My Groups</a></li>	
				<li><a href='/tasks'>My Tasks</a></li>
				<li><a href='/invitations'>Invitations</a></li>
			<% end %>
				</ul>
		</div>
</div>
