<div class="container">
   <div id="logo" class="span-4">
     <%= link_to image_tag('/images/logo.png'), root_url %>
   </div>
   <div id="main-navi" class="span-20 last">
       <%= render_navigation :level => 1 %>
   </div>
</div>
