<div class="container">
   <div id="logo" class="span-9">
     <%= link_to image_tag('/images/logo.png'), root_url %>
   </div>
   <div id="main-navi" class="span-14 last">
       <%= render_navigation :level => 1 %>
   </div>
</div>
